a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

section {
  min-height: calc(100vh - 5rem);
  padding: 3rem 6vw;
  box-sizing: border-box;
}


h2 {
  font-size: 2rem;
  margin: 0;
}

.Button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  border: 1px solid var(--text);
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.PrimaryButton {
  color: var(--text);
  background: var(--primary);
}

.PrimaryButton:hover {
  filter: brightness(80%);
}

.SecondaryButton {
  color: white;
  background: var(--highlight);
}

.SecondaryButton:hover {
  filter: brightness(80%);
}

.TransparentButton {
  background: transparent;
  border: none;
}

button:disabled {
  cursor: not-allowed;
  filter: brightness(80%);
}

button:disabled:hover {
  filter: brightness(80%);
}