.CartContainer {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.CartContainer.Close {
  transition: 0.2s;
}

.CartContainer.Open {
  width: 100%;
}

.Cart {
  color: var(--text);
  background: white;
  height: 100vh;
  width: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  float: right;
  transition: 0.4s;
}

.CartContainer.Open .Cart {
  width: min(90vw, 30rem);
}

.CartHeader {
  background: var(--primary);
  padding: 0 3rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CartTitle {
  display: flex;
  align-items: flex-end;
}

.CartTitle > Button {
  font-size: 1.5rem;
  padding: 0;
  margin-right: 2rem;
  align-self: start;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.CartCount {
  color: var(--highlight);
  font-size: 1.2rem;
}

.CartProducts {
  align-self: start;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CartRow {
  width: 100%;
  display: grid;
  grid-template: 5rem 1.5rem / auto 1fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.CartRow:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text);
  margin-bottom: 1rem;
}

.CartRow > img {
  height: 5rem;
}

.ItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.ItemInfo > small {
  font-size: 0.9rem;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.ItemInfo > strong {
  font-size: 1rem;
  font-weight: 600;
}

.ItemQuantity {
  grid-column: 2 / -1;
  display: grid;
  grid-template: 1.5rem / repeat(3, 1.5rem) 5rem;
  justify-items: center;
  align-items: center;
}

.ItemQuantity > Button {
  padding: 0.25rem;
}

.Cart > button {
  margin: 2rem 3rem;
}

@media screen and (max-width: 480px) {
  .CartHeader {
    padding: 0 2rem;
  }

  .CartTitle > Button {
    font-size: 1.4rem;
    margin-right: 1rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  
  .CartCount {
    color: var(--highlight);
    font-size: 1.1rem;
  }
}