.SiteHeader {
  background: var(--primary);
  height: 5rem;
  padding: 0 6vw;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 4vw;
  align-items: center;
  justify-content: start;
}

.MenuButton {
  font-size: 1.2rem;
  padding: 0.5rem;
  display: none;
}

.HeaderLogo {
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.HeaderLogo img {
  height: 3rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.HeaderLinks {
  color: var(--text);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 4vw;
}

.CartButton {
  font-size: 1.2rem;
  padding: 0.5rem 1rem 0.5rem 0;
  position: relative;
}

.CartNum {
  color: var(--primary);
  background: var(--highlight);
  font-size: 0.8rem;
  height: 1.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .SiteHeader {
    display: flex;
    justify-content: space-between;
  }

  .MenuButton {
    display: block;
  }

  .HeaderLinks {
    font-size: 1.3rem;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    border-bottom: none;
    display: grid;
    grid-template-rows: 2rem 2rem;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0 1rem 0;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 5rem;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .HeaderLinks.Open {
    background: var(--primary);
    visibility: visible;
    opacity: 1;
    border-bottom: 1px solid var(--text);
  }

  .HeaderLinks > a {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .HeaderLogo {
    gap: 0.5rem;
  }

  .HeaderLogo img {
    height: 2.2rem;
  }
  
  h1 {
    font-size: 1.8rem;
  }
}