.Product {
  color: var(--text);
  display: grid;
  gap: 2rem;
}

.ProductImg {
  width: 100%;
  justify-self: center;
}

.ProductOverview {
  display: grid;
  gap: 1rem;
}

.VendorInfo {
  color: var(--highlight);
  font-size: 1.2rem;
  font-weight: 700;
}

.Price {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.Stock {
  font-weight: 600;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--text);
}

.InStock {
  color: var(--success);
}

.OutOfStock {
  color: var(--danger);
}

.QuantityForm {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
}

.QuantityForm > label {
  font-weight: 600;
}

.QuantityForm > select {
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  max-width: 3rem;
}

.ProductButtons {
  margin-top: 0.5rem;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .ProductImg {
    width: 80%;
  }

  .ProductButtons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .Product {
    grid-template-columns: repeat(2, 1fr);
  }

  .ProductOverview {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
}