.ProductGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

.Product {
  color: var(--text);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.ShopImg {
  width: 100%;
}

.ShopVendor {
  color: var(--highlight);
}

.ProductName > a {
  transition: all 0.2s ease;
}

.ProductName > a:hover {
  color: var(--highlight);
}

.CartButton {
  color: var(--text);
  font-size: 1rem;
}

.CartButton:hover {
  background: var(--secondary);
}
